/* Linked List Page Specific Styles */
.linked-list-container {
    border: 1px solid #b8b8b8;
    min-height: 200px;
    margin: 20px auto;
    box-shadow: 0 0.5rem 1rem rgba(82, 82, 82, 0.15);
    border-radius: 0.35rem;
    display: flex;
    align-items: center;
    overflow-x: auto;
    width: 100%;
}

.linked-list-node {
    background-color: rgb(30, 27, 68);
    color: white;
    margin: 5px;
    padding: 10px;
    min-width: 100px;
    text-align: center;
    border-radius: 0.35rem;
    box-shadow: 0 0.5rem 1rem rgba(82, 82, 82, 0.15);
}

@media (max-width: 768px) {
    .linked-list-container {
        width: 90%;
    }
}
