<!DOCTYPE html>
<html lang="en">
    <!-- Datalyzer, an interactive web application that visually demonstrates how different data structures operate -->
    <head>
        <meta charset="utf-8">
        <title>Datalyzer</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body>
        <header>
            <!-- Navigation bar, logo, etc. -->
            
        </header>
    
        <main>
            {% block content %}
            {% endblock %}
        </main>
    
        <footer>
            <!-- Footer content -->
        </footer>
    
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <!-- Add any other scripts here -->
    </body>
</html>